@import "src/styles/variables";
@import "src/styles/mixins";

.nav {
	display: flex;
	align-items: center;

	@media (max-width: $desktopSmall) {
		display: none;
	}
}

.list {
	display: flex;
	align-items: center;
	padding: 0;
	margin: 0;

	@media (max-width: $desktopMedium) {
		margin-left: 20px;
	}
}

.item {
	margin-right: 32px;
	font-size: 15px;
	font-weight: 500;
	font-family: 'Gilroy';

	list-style: none;
	color: $white;
	text-decoration: none;

	a {
		text-decoration: none;
		color: $white;
		min-width: max-content;
	}

	@media (max-width: $desktopMedium) {
		margin-right: 20px;
	}
}

.item:last-child {
	margin-right: 0px;
}