@import 'src/styles/variables';
@import 'src/styles/mixins';

.wrapper {
	display: flex;
	align-items: center;
	grid-gap: 40px;

	@media (max-width: $desktopSmall) {
		width: 100%;
		display: flex;
		justify-content: end;
	}
}

.tell {
	color: $white;
	font-size: 15px;
	text-decoration: none;
	color: $white;
	min-width: max-content;

	@media (max-width: $desktopSmall) {
		width: 100%;
		display: flex;
		justify-content: end;
	}

	@media (max-width: $tabletSmall) {
		display: none;
	}

}

.language_buttons {
	@media (max-width: $tabletSmall) {
		display: none;
	}
}

.button {
	box-sizing: border-box;
	display: inline-block;
	width: max-content;
	height: auto;
	padding: 20px 40px;
	border: 1px solid $white;
	font-size: 15px;
	color: $white;
	border-radius: 40px;
	text-decoration: none;
	min-width: max-content;

	@media (max-width: $desktopSmall) {
		display: none;
	}
}