@import 'src/styles/variables';

.wrapper {
	display: flex;
	align-items: center;
	grid-gap: 40px;
}

.tell {
	color: $white;
	font-size: 15px;

	text-decoration: none;
	color: $white;
	min-width: max-content;

}

.button {
	box-sizing: border-box;
	display: inline-block;
	width: max-content;
	height: auto;
	padding: 20px 40px;
	border: 1px solid $white;
	font-size: 15px;
	color: $white;
	border-radius: 40px;
	text-decoration: none;
	min-width: max-content;
}