@import 'src/styles/variables';
@import 'src/styles/mixins';

.filter_items {
	display: flex;
	flex-wrap: wrap;
	grid-row-gap: 24px;
	list-style: none;
	margin: 0;
	padding: 0;

	@media (max-width: $desktopSmall) {
		grid-row-gap: 16px;
	}

	@media (max-width: $tabletSmall) {
		grid-row-gap: 12px;
	}
}

.filter_item {
	margin-right: 24px;

	@media (max-width: $desktopSmall) {
		margin-right: 16px;
	}

	@media (max-width: $desktopSmall) {
		margin-right: 12px;
	}
}

.filter_item:last-child {
	margin-right: 0px
}

.filter_tag_button {
	display: inline-block;
	cursor: pointer;
	text-align: center;
	padding: 12px 20px;
	width: max-content;
	border: 1px solid #E5E7EB;
	@include text('m');
	border-radius: 80px;
	background-color: transparent;

	@media (max-width: $desktopSmall) {
		@include text('s')
	}

	@media (max-width: $tabletSmall) {
		// @include text('s')
	}
}