@import 'src/styles/variables';

.footer {
	background-color: $indigo;
	padding: 100px;
	border-radius: 40px;
	margin-top: 80px;
}

.body {
	display: grid;
	grid-template-columns: 400px 1fr 1fr 1fr;
	grid-gap: 136px;
	margin-bottom: 100px;

	&>div {
		padding-top: 88px;
	}

	div:first-child {
		padding-top: 0px;
	}
}

.bottom {
	display: flex;
	justify-content: space-between;

	p {
		color: $white;
	}
}

.bottom_text {
	a {
		color: $white;
		text-decoration: underline;
	}
}