$primary: #FFCE54;
$primary2: #F5D852;
$primary3: #F6DF6F;

$secondary: #EBEFFF;
$black: #111928;
$mainBackgroud: #FAFBFC;
$text: #111928;
$text2: rgba(31, 42, 55, 0.8);
$text3: rgba(31, 42, 55, 0.6);
$text4: #70757E;
$text-01: rgba(27, 31, 59, 0.8);

$white: #ffffff;
$red: #DD4C1E;
$green: #3AA981;
$blue: #526ED3;

$gray: #CFD1D4;
$grayLight: #d7d7d7;
$blueGray: #3F4753;
$border: #E7E8E9;

$wrapper: 1598px;
$wrapperDesktopSmall: 856px;
$wrapperTablet: 544px;
$wrapperMobile: 500px;

$desktopLarge: 1600px;
$desktopMedium: 1360px;
$desktopSmall: 1200px;
$desktop: 1024px;
$tablet: 768px;
$tabletSmall: 600px;
$mobileLarge: 480px;
$mobile: 390px;
$mobileSmall: 360px;