$primary: #E8A603;
$primary2: #F5D852;
$primary3: #F6DF6F;

$secondary: #EBEFFF;
$black: #000;
$mainBackgroud: #FAFBFC;
$textTypography: #000;
$text1: #231F20;
$text2: #5E5F62;
$text3: #9A9DA3;
$border: #D1D5DB;
$button: #F6D357;
$background: #F9FAFB;

$white: #ffffff;
$primay: #005596;
$yellow: #FFE600;
$gray: #111928;
$indigo: #4C485B;
$blue: #233876;
$red: #771D1D;
$green: #046C4E;
$purple: rgba(255, 255, 255, 0.20);


$wrapper: 1598px;
$wrapperDesktopSmall: 856px;
$wrapperTablet: 544px;
$wrapperMobile: 500px;

$desktopLarge: 1600px;
$desktopMedium: 1360px;
$desktopSmall: 1200px;
$desktop: 1024px;
$tablet: 768px;
$tabletSmall: 600px;
$mobileLarge: 480px;
$mobile: 390px;
$mobileSmall: 360px;