@import 'src/styles/variables';
@import 'src/styles/mixins';

.footer_contacts {
	display: flex;
	flex-direction: column;

	a {
		text-decoration: none;
	}

	p {
		color: $white;
	}


}

.title {
	margin-bottom: 28px;

	@media (max-width: $tabletSmall) {
		margin-bottom: 20px;
	}


	p {
		margin-bottom: 20px;

		@media (max-width: $tabletSmall) {
			font-size: 11px !important;
		}
	}
}

.address {
	margin-bottom: 12px;

	@media (max-width: $desktopSmall) {
		@include text('l')
	}

	@media (max-width: $tabletSmall) {
		@include text('m')
	}
}

.map {
	margin-bottom: 48px;

	@media (max-width: $tabletSmall) {
		margin-bottom: 20px;
	}

	p {
		@media (max-width: $tabletSmall) {
			font-size: 11px;
		}
	}
}

.number {
	margin-bottom: 12px;

	@media (max-width: $desktopSmall) {
		@include text('l')
	}

	@media (max-width: $tabletSmall) {
		@include text('m')
	}
}

.tell {
	padding-bottom: 10px;
	margin-bottom: auto;

	@media (max-width: $tabletSmall) {
		font-size: 11px;
	}

}