@import 'src/styles/variables';
@import 'src/styles/mixins';

.footer_subscribe {
	p {
		color: $white;
	}
}

.items {
	list-style: none;
	padding: 0;
	margin: 0;
}

.title {
	margin-bottom: 28px;

	@media (max-width: $tabletSmall) {
		font-size: 11px;
		margin-bottom: 20px;
	}
}

.item {
	margin-bottom: 48px;

	@media (max-width: $desktopSmall) {
		margin-bottom: 28px;
	}

	p {
		@media (max-width: $desktopSmall) {
			@include text('l')
		}

		@media (max-width: $tabletSmall) {
			@include text('m')
		}
	}

	a {
		text-decoration: none;
	}
}

.item:last-child {
	margin-bottom: 0;
}