@import 'src/styles/variables';
@import 'src/styles/mixins';

.wrapper {
	display: flex;
	flex-direction: column;
	padding: 60px;
	background-color: #F3F4F6;
	background-image: url('/assets/img/galery_fon.webp');
	background-position: left top;
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 40px;
	margin-bottom: 100px;

	@media (max-width: $desktopSmall) {
		margin-bottom: 57px;
		padding: 40px;
	}

	@media (max-width: $tabletSmall) {
		margin-bottom: 28px;
		padding: 20px;
	}
}

.info_block {
	display: flex;
	flex-direction: column;
	text-align: center;
	max-width: 800px;
	margin: 0 auto;
	margin-bottom: 80px;


	@media (max-width: $desktopSmall) {
		margin-bottom: 40px;
	}

	@media (max-width: $tabletSmall) {
		margin-bottom: 28px;
	}
}

.section_title {
	margin-bottom: 40px;

	@media (max-width: $desktopSmall) {
		@include text('h1');
		margin-bottom: 28px;
	}

	@media (max-width: $tabletSmall) {
		margin-bottom: 24px;
		font-size: 24px;
	}
}

.info_text {
	margin-bottom: 40px;

	@media (max-width: $desktopSmall) {
		@include text('l');
		margin-bottom: 28px;
	}

	@media (max-width: $tabletSmall) {
		@include text('s');
		margin-bottom: 24px;
	}
}

.link_button {
	display: inline-block;
	text-decoration: none;
	border-radius: 40px;
	color: $white;
	background-color: $indigo;
	width: max-content;

	p {
		margin: 0;
		padding: 20px 40px;

		@media (max-width: $desktopSmall) {
			padding: 16px 40px;
			@include text('s')
		}
	}
}

.button_block {
	display: flex;
	justify-content: center;
}

.items {
	display: grid;
	margin: 0;
	padding: 0;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 24px;
	list-style: none;

	@media (max-width: $desktopSmall) {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 16px;
	}

	@media (max-width: $tabletSmall) {
		display: none;
	}
}

.item_body {
	position: relative;

	.item_info {
		opacity: 0;
		transition: all .25s;
	}

	img {
		transition: all .25s;
		scale: 1.1;
	}

	@media (max-width: $desktopSmall) {
		.item_info {
			opacity: 1;
		}
	}

	&:hover {
		.item_info {
			opacity: 1;
		}

		img {
			scale: 1;
		}
	}


}


.item_info {
	position: absolute;
	z-index: 5;
	bottom: 10%;
	left: 10%;
	right: 10%;
	width: 80%;
	height: max-content;
	color: $white;
	display: flex;
	justify-content: space-between;

	@media (max-width: $tabletSmall) {
		left: 16px;
		bottom: 16px;
	}
}

.block_img {
	position: relative;
	display: block;
	max-width: 100%;
	border-radius: 20px;
	overflow: hidden;

	&::after {
		content: '';
		padding-bottom: 72%;
		display: block;
	}

	img {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		display: block;
		object-fit: cover;
		object-position: center;
	}
}

.text_1,
.text_2 {
	color: $white;
}

.slider {
	width: 100%;
	margin-bottom: 28px;
	display: none;

	@media (max-width: $tabletSmall) {
		display: inherit;
	}


	.block_img {
		&::after {
			padding-bottom: 75%;
		}
	}
}

.show_all {
	display: none;
	text-decoration: none;
	@include text('s');
	padding: 16px 20px;
	text-align: center;
	width: -webkit-fill-available;
	color: $text1;
	border-radius: 40px;
	border: 1px solid $border;

	@media (max-width: $tabletSmall) {
		display: block;
	}
}