@import 'src/styles/variables';
@import 'src/styles/mixins';

.content {
	// width: 100%;

	@media (max-width: $tabletSmall) {
		padding: 0 16px;
	}
}

.items {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 100%;
	grid-gap: 96px;
	padding-top: 192px;

	@media (max-width: $desktopSmall) {
		padding-top: 104px;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 72px;
		grid-row-gap: 56px;
	}

	@media (max-width: $tabletSmall) {
		padding-top: 36px;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 16px;
		grid-row-gap: 28px;
	}
}

.item {
	width: 100%;

	&:nth-child(3n+1) {
		margin-top: -96px;
	}

	&:nth-child(3n+3) {
		margin-top: -192px;
	}

	@media (max-width:$desktopSmall) {
		&:nth-child(3n+1) {
			margin-top: 0px;
		}

		&:nth-child(3n+3) {
			margin-top: 0px;
		}

		&:nth-child(2n+1) {
			margin-top: -54px;
		}
	}

	@media (max-width:$tabletSmall) {
		&:nth-child(2n+1) {
			margin-top: -36px;
		}
	}
}