@import 'src/styles/variables';
@import 'src/styles/mixins';

.wrapper {
	margin-bottom: 120px;
	display: flex;
	flex-direction: column;

	@media (max-width: $tabletSmall) {
		margin-bottom: 28px;
	}
}

.info {
	display: grid;
	grid-template-columns: 1fr 1fr;
	box-sizing: border-box;
	margin-bottom: 16px;

	@media (max-width: $desktopSmall) {
		display: flex;
		justify-content: space-between;
	}

	@media (max-width: $tabletSmall) {
		display: flex;
		flex-direction: column;
	}
}

.info_left {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@media (max-width: $tabletSmall) {
		order: 1;
	}
}

.left_block {
	display: flex;
	justify-content: space-between;
	grid-gap: 50px;

	@media (max-width: $desktopSmall) {
		display: flex;
		justify-content: space-between;
	}

	@media (max-width: $tabletSmall) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 16px;
		margin-bottom: 20px;
	}

}

.title_block {
	max-width: 417px;
	order: 0;

	@media (max-width: $desktopSmall) {
		margin-right: 10px;
	}

	@media (max-width: $tabletSmall) {
		margin-right: 0px;
	}

}

.title {
	margin: 0;
	font-size: 4rem;
	font-weight: 500;
	line-height: 112%;

	@media (max-width: $desktopSmall) {
		font-size: 2.25rem;
		max-width: 256px;
	}

	@media (max-width: $tabletSmall) {
		font-size: 1.5rem;
	}
}

.info_right {
	box-sizing: border-box;
	display: flex;
	justify-content: end;

	@media (max-width: $desktopSmall) {
		max-width: 256px;
	}
}


.text_1 {
	@media (max-width: $desktopSmall) {
		font-size: 13px;
		// @include text('mm')
	}

	@media (max-width: $tabletSmall) {
		font-size: 11px;
		padding-bottom: 20px !important;
		margin-bottom: auto;
	}
}

.text_2 {
	@media (max-width: $desktopSmall) {

		// font-size: 13px;
		@include text('s') {
			// background-color: red !important
		}
	}

	@media (max-width: $tabletSmall) {
		font-size: 11px !important;
		padding: 12px 22.5px !important;
		// @include text('xs');
	}
}

.text_3 {
	max-width: 400px;

	@media (max-width: $desktopSmall) {
		// font-size: 13px;
		@include text('s')
	}

	@media (max-width: $tabletSmall) {
		// font-size: 11px;
		@include text('s');
	}
}