@import 'src/styles/variables';
@import 'src/styles/mixins';

.footer_left {
	display: flex;
	flex-direction: column;

	@media (max-width: $desktopSmall) {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		grid-gap: 40px;
	}

	@media (max-width: $tabletSmall) {
		flex-direction: column;
		grid-gap: 24px;
	}
}

.footer_left__img {
	margin-bottom: 80px;

	@media (max-width: $tabletSmall) {
		width: 80px;
		height: 48px;
		margin-bottom: 0px;
	}
}

.title {
	color: $white;
	font-size: 2.25rem;
	line-height: 110%;
	margin-top: 0;
	margin-bottom: 28px;

	@media (max-width: $tabletSmall) {
		font-size: 28px;
		margin-bottom: 16px;
	}
}

.text {
	color: $white !important;
	margin-bottom: 88px !important;

	@media (max-width: $desktopSmall) {
		margin-bottom: 40px !important;
	}

	@media (max-width: $desktopSmall) {
		margin-bottom: 24px !important;
	}
}

.button {
	display: block;
	padding: 20px 40px;
	color: $black;
	background-color: $primary;
	border-radius: 40px;
	font-weight: 500;
	font-family: 'Gilroy';
	font-size: 1rem;
	width: max-content;
	text-decoration: none;

	@media (max-width: $tabletSmall) {
		font-size: 13px;
		text-align: center;
		width: -webkit-fill-available;
	}
}