@import 'src/styles/variables';
@import 'src/styles/mixins';

.form {}

.body {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 64px;
	padding: 48px;
	border-radius: 28px;
	border: 1px solid $border;

	@media (max-width: $desktopSmall) {
		padding: 32px;
		grid-gap: 48px;
	}

	@media (max-width: $tabletSmall) {
		display: flex;
		flex-direction: column;
		grid-gap: 24px;
		padding: 20px;
	}
}

.left {
	display: flex;
	flex-direction: column;
}

.logo {
	margin-bottom: 28px;

	@media (max-width: $desktopSmall) {
		margin-bottom: 20px;
		width: 80px;
		height: 48px;
	}
}

.title {
	margin-bottom: 28px;

	@media (max-width: $desktopSmall) {
		@include text('h4');
		margin-bottom: 20px;
	}

}

.right {
	display: flex;
	flex-direction: column;
	grid-gap: 32px;

	@media (max-width: $desktopSmall) {
		grid-gap: 24px
	}
}

.input {
	padding: 20px 28px;
	color: $text2;
	font-weight: 500;
	font-size: 0.950rem;
	border-radius: 80px;
	border: 1px solid $border;
	width: 100%;
	box-sizing: border-box;

	@media (max-width: $desktopSmall) {
		@include text('s');
		padding: 16px 20px;
	}

	@media (max-width: $tabletSmall) {
		@include text('m');
	}

	&:focus {
		outline: 2px solid $border;
		// outline: none;
		border: 1px solid transparent;
	}

}

.button {
	background-color: $button;
	border-radius: 40px;
	border: none;
	width: 100%;

	p {
		padding: 20px 40px;

		@media (max-width: $desktopSmall) {
			@include text('s');
		}
	}

}